
.bg-orange {
    background-color: #ff7b00;
}

.custom-container {
    display: flex;
    justify-content: center;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
